.div{
    display: flex;
    flex-direction: column;
}
.main{
    display: grid;
    grid-template-columns:180px 3fr;
}
@media screen and (min-width:768px) {
    .main{
        grid-template-columns:220px 3fr;
    } 
}
.texts{
    display: flex;
    gap: 10px;
}
h3:nth-child(2){
    color: red;
}
.content{
    padding-left:20px;
}